Columns description

    Id (str)
    city
    price
    year: Year of manufacturing
    manufacturer: Manufacturer of vehicle
    make: Model of vehicle
    condition: Vehicle condition
    cylinders: Number of cylinders
    fuel: Type of fuel required
    odometer: Miles traveled
    title_status: Title status (e.g. clean, missing, etc.)
    transmission: Type of transmission
    drive: Drive of vehicle
    size: Size of vehicle
    type: Type of vehicle
    paint_color: Color of vehicle
    lat: Latitude of listing
    long: Longitude of listing
    county_fips: Federal Information Processing Standards code
    county_name: County of listing
    state_fips: Federal Information Processing Standards code
    state_code: letter state code
    state_name: State name
    weather: Historical average

In [194]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [195]:
cars_prices=pd.read_csv("..\data\cars_train.csv")
cars_prices_test=pd.read_csv("..\data\cars_test.csv")

In [196]:
for column in cars_prices.columns:
    if cars_prices[column].dtype=='object':
        print(column)
        print(cars_prices[column].value_counts())

city
lasvegas         2270
sfbay            2259
nashville        2251
miami            2245
boise            2243
indianapolis     2241
anchorage        2238
cosprings        2238
sacramento       2232
orlando          2227
grandrapids      2219
memphis          2218
madison          2207
inlandempire     2203
kansascity       2198
bakersfield      2197
columbus         2189
charlotte        2189
nh               2182
minneapolis      2179
oklahomacity     2177
milwaukee        2176
hartford         2172
tampa            2170
akroncanton      2167
chicago          2163
omaha            2162
losangeles       2159
orangecounty     2157
desmoines        2157
                 ...
regina             32
reddeer            32
londonon           31
cornwall           30
juneau             29
kingston           28
chihuahua          25
peterborough       24
soo                23
peace              21
juarez             21
hermosillo         21
newbrunswick       20
lethbridge         19
brantford          16
belleville         16
niagara            16
hat                14
halifax            14
chatham            13
guelph             10
kitchener          10
barrie              8
troisrivieres       8
pei                 7
sherbrooke          6
sudbury             5
newfoundland        4
owensound           2
territories         1
Name: city, Length: 469, dtype: int64
manufacturer
ford               79933
chevrolet          60093
toyota             31722
honda              24585
nissan             21925
dodge              20779
jeep               20312
gmc                19255
ram                15561
bmw                11840
chevy              11014
volkswagen          9111
hyundai             9087
chrysler            8658
subaru              8099
cadillac            6814
kia                 6799
mercedes-benz       6592
mazda               6380
buick               6264
pontiac             6071
lexus               5523
acura               4923
audi                4076
lincoln             3553
infiniti            3254
volvo               2991
mitsubishi          2945
mercury             2793
saturn              2599
mercedes            1968
mini                1745
rover               1517
vw                  1232
jaguar              1188
fiat                 560
chev                 242
datsun               159
infinity             152
harley-davidson      138
harley                64
ferrari               60
alfa-romeo            44
porche                28
land rover            25
alfa                  19
aston-martin          14
aston                 13
landrover              9
morgan                 4
Name: manufacturer, dtype: int64
make
1500                          6396
f-150                         6040
silverado 1500                4124
mustang                       3680
2500                          3610
accord                        3517
silverado                     3363
civic                         3191
camry                         3102
wrangler                      3049
f150                          2923
altima                        2880
explorer                      2805
impala                        2602
escape                        2580
f250                          2557
tahoe                         2510
tacoma                        2274
focus                         2250
1500 silverado                2249
grand cherokee                2167
camaro                        2155
corvette                      2118
3500                          2096
malibu                        2047
corolla                       1956
ranger                        1940
fusion                        1923
equinox                       1749
f350                          1733
                              ...
liberty 4ã4                     1
sienna van xle                   1
EVERYTHING                       1
tl nav                           1
Countryman AWD All4S             1
hoda accord                      1
1966 Thunderbird                 1
f-550 super duty xlt             1
Pontaic G6                       1
sierra 2500hd with plow          1
hyudai sonata                    1
f-250 cargo van                  1
equinox fwd 4dr lt w/2lt         1
optima good condition            1
2002 traila blezer slt           1
190 E                            1
tucson limited 2017              1
4x4 crew Cab runs great          1
mudtang gt                       1
'05 Mustang GT Premium           1
Frame only                       1
benz cl550                       1
f-350 4x4 plow dump truck        1
x1 sdrive28i sport utility       1
1988 f350 xlt diesel             1
s5 4.2 quattro premium plu       1
passat diesel                    1
Fod Econoline                    1
ranger exta cab xl 4x2           1
miaata                           1
Name: make, Length: 46592, dtype: int64
condition
excellent    120909
good         103297
like new      30469
fair          20214
new            2437
salvage        1645
Name: condition, dtype: int64
cylinders
6 cylinders     98757
8 cylinders     87552
4 cylinders     80625
other            9751
5 cylinders      2864
10 cylinders     1623
3 cylinders       500
12 cylinders      244
Name: cylinders, dtype: int64
fuel
gas         417897
diesel       33158
other        12466
hybrid        2949
electric       678
Name: fuel, dtype: int64
title_status
clean         436606
rebuilt        13310
salvage         8923
lien            5950
missing         3046
parts only      1449
Name: title_status, dtype: int64
transmission
automatic    402378
manual        55363
other          9804
Name: transmission, dtype: int64
drive
4wd    121087
fwd    101308
rwd     67263
Name: drive, dtype: int64
size
full-size      87687
mid-size       46661
compact        25586
sub-compact     3283
Name: size, dtype: int64
type
sedan          73953
SUV            66612
truck          36510
pickup         33645
coupe          19896
hatchback      10441
convertible     8555
wagon           6953
van             6923
mini-van        6717
other           6196
offroad         1386
bus              565
Name: type, dtype: int64
paint_color
white     62659
black     54608
silver    40497
blue      31686
red       31290
grey      27270
green     11810
brown      7307
custom     7151
yellow     3038
orange     1984
purple     1079
Name: paint_color, dtype: int64
county_name
Franklin        5143
Jefferson       5031
Orange          4850
Washington      4219
Sacramento      4142
Montgomery      4122
Marion          3892
Los Angeles     3511
Jackson         3396
Douglas         3331
El Paso         3234
Riverside       3097
Clark           3065
Monroe          2751
Madison         2741
Maricopa        2626
Lancaster       2588
Middlesex       2541
Polk            2464
Benton          2419
Wayne           2372
Kent            2357
San Diego       2278
Harris          2200
Cumberland      2137
Lake            2131
Erie            2130
Saginaw         2107
Anchorage       2093
Volusia         2090
                ...
Upton              1
Somervell          1
Desha              1
Cavalier           1
Bowman             1
Carlisle           1
Dundy              1
Greenlee           1
Hand               1
Fisher             1
Kinney             1
Greer              1
Foster             1
Frio               1
Faulk              1
White Pine         1
Lyman              1
Treasure           1
Yoakum             1
Wahkiakum          1
East Carroll       1
Coke               1
Sully              1
Wrangell           1
Stonewall          1
Maui               1
Cochran            1
Billings           1
Dickens            1
Crane              1
Name: county_name, Length: 1792, dtype: int64
state_code
CA    42132
FL    30363
TX    26573
MI    21737
NY    19401
NC    17452
OH    16984
PA    15865
WI    14643
WA    13947
VA    12630
OR    12542
TN    11483
CO    10969
MO    10609
MN    10229
IL     9773
GA     9391
IN     8857
NJ     8827
MA     8664
IA     7961
SC     7744
AZ     7644
AL     7625
CT     6536
OK     6366
MD     5970
KY     5870
MT     5446
LA     5408
ID     5401
KS     5207
AR     5162
NE     5109
MS     4421
NV     3930
NM     3584
AK     3336
NH     3091
SD     2415
VT     1879
UT     1870
RI     1811
ME     1732
WV     1575
DE     1534
ND     1309
WY      798
DC      173
HI        5
Name: state_code, dtype: int64
state_name
California              42132
Florida                 30363
Texas                   26573
Michigan                21737
New York                19401
North Carolina          17452
Ohio                    16984
FAILED                  16009
Pennsylvania            15865
Wisconsin               14643
Washington              13947
Virginia                12630
Oregon                  12542
Tennessee               11483
Colorado                10969
Missouri                10609
Minnesota               10229
Illinois                 9773
Georgia                  9391
Indiana                  8857
New Jersey               8827
Massachusetts            8664
Iowa                     7961
South Carolina           7744
Arizona                  7644
Alabama                  7625
Connecticut              6536
Oklahoma                 6366
Maryland                 5970
Kentucky                 5870
Montana                  5446
Louisiana                5408
Idaho                    5401
Kansas                   5207
Arkansas                 5162
Nebraska                 5109
Mississippi              4421
Nevada                   3930
New Mexico               3584
Alaska                   3336
New Hampshire            3091
South Dakota             2415
Vermont                  1879
Utah                     1870
Rhode Island             1811
Maine                    1732
West Virginia            1575
Delaware                 1534
North Dakota             1309
Wyoming                   798
District of Columbia      173
Hawaii                      5
Name: state_name, dtype: int64

In [197]:
def remove_columns(data,treshold):
    for column in data.columns:
        n_rows=len(data[column])
        n_nulls=data[column].isna().sum()
        percentage_nulls=(n_nulls/n_rows)*100
        if percentage_nulls>treshold:
            data.drop(labels=column,axis=1,inplace=True)
    return data
cars_prices=remove_columns(cars_prices,60)
cars_prices.columns

Index(['Id', 'city', 'year', 'manufacturer', 'make', 'condition', 'cylinders',
       'fuel', 'odometer', 'title_status', 'transmission', 'drive', 'type',
       'paint_color', 'lat', 'long', 'county_fips', 'county_name',
       'state_fips', 'state_code', 'state_name', 'weather', 'price'],
      dtype='object')

In [198]:
#Quitamos Outliers precio
q_25=cars_prices.price.quantile(0.05)
q_75=cars_prices.price.quantile(0.95)
cars_prices=cars_prices[(cars_prices.price>=q_25) & (cars_prices.price<=q_75) ]

In [199]:
#Rellenamos los valores de kilometraje que faltan aplicando un modelo sencillo.
def predict_odometer(cars_prices):
    df_odo=cars_prices.dropna()
    X=df_odo[['year']]
    y=df_odo['odometer']
    from sklearn.model_selection import train_test_split

    X_train, X_test, Y_train,Y_test=train_test_split(X,y,test_size=0.33,random_state=1)

    from sklearn.linear_model import LinearRegression
    reg_odometer = LinearRegression().fit(X_train, Y_train)
    y_real=reg_odometer.predict(X_test)
    y_real=y_real.reshape(-1,1)


    odometer=[]
    for row in cars_prices[['odometer','year']].values:
        test_X = np.array(row[1]).reshape(-1, 1)

        if np.isnan(row[0]) and np.isnan(row[1])==False :
            predict=reg_odometer.predict(test_X)[0]
        else:
            predict=row[0].astype(np.float)
        odometer.append(predict)
    return odometer
cars_prices['odometer_2']=predict_odometer(cars_prices)
cars_prices_test['odometer_2']=predict_odometer(cars_prices_test)

In [200]:
cars_prices.condition.replace({'like new':'excellent','fair':'good'},inplace=True)
cars_prices_test.condition.replace({'like new':'excellent','fair':'good'},inplace=True)
cars_prices.condition.value_counts()

excellent    138526
good         114359
new            1316
salvage         831
Name: condition, dtype: int64

In [201]:
pd.Series(cars_prices.condition.unique()).dropna()

0    excellent
2         good
3      salvage
4          new
dtype: object

In [202]:
def predict_condition(cars_prices):
    from sklearn import preprocessing
    df_odo=cars_prices.dropna()

    le = preprocessing.LabelEncoder()
    le.fit(df_odo.condition.unique())
    df_odo.condition=le.transform(df_odo.condition) 

    #Entrenamos el modelo

    X=df_odo[['year','odometer_2']]
    y=df_odo['condition']

    from sklearn.model_selection import train_test_split

    X_train, X_test, Y_train,Y_test=train_test_split(X,y,test_size=0.33,random_state=1)
    from sklearn.linear_model import LinearRegression
    reg_condition = LinearRegression().fit(X_train, Y_train)

    #Labelizamos

    from sklearn import preprocessing
    cars_prices.condition.fillna('desconocido',inplace=True)
    le = preprocessing.LabelEncoder()
    le.fit(cars_prices.condition.unique())
    cars_prices.condition=le.transform(cars_prices.condition) 

    #Aplicamos modelo

    condition=[]
    for row in cars_prices[['condition','year','odometer_2']].values:
        test_X = np.array(row[1:]).reshape(-1,1)
        try:
            predict=reg.predict(test_X)[0]
        except:
            predict=row[0]
        condition.append(predict)
    return condition
    
cars_prices['condition']=predict_condition(cars_prices)
cars_prices_test['condition']=predict_condition(cars_prices_test)

c:\program files (x86)\python37-32\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
c:\program files (x86)\python37-32\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [203]:
def process_title_status(cars_prices):
    cars_prices['title_status'].fillna('other',inplace=True)
    cars_prices['title_status'].replace({'clean':'good','rebuilt':'regular','lien':'bad','missing':'bad','parts only':'bad','salvage':'bad'},inplace=True)
    from sklearn import preprocessing

    le = preprocessing.LabelEncoder()
    le.fit(cars_prices['title_status'].unique())
    cars_prices['title_status']=le.transform(cars_prices['title_status'])
    return cars_prices

cars_prices=process_title_status(cars_prices)
cars_prices_test=process_title_status(cars_prices_test)

In [204]:

cars_prices_test['title_status'].isna().value_counts()

False    253073
Name: title_status, dtype: int64

In [205]:
cars_prices_test.head()

,Id,city,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,...,paint_color,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather,odometer_2
0,974298,duluth,2006.0,ford,f-250 super duty,2.0,8 cylinders,gas,154400.0,1,...,white,47.746524,-90.357742,27031.0,Cook,27.0,MN,Minnesota,43.0,154400.000000
1,1051884,kansascity,1987.0,chevrolet,NaN,0.0,NaN,gas,NaN,1,...,NaN,38.373182,-93.776859,29083.0,Henry/Rives,29.0,MO,Missouri,52.0,165977.097269
2,684464,palmsprings,2010.0,jeep,liberty sport,0.0,6 cylinders,gas,127722.0,1,...,NaN,33.741059,-116.356434,6065.0,Riverside,6.0,CA,California,59.0,127722.000000
3,1255387,sanmarcos,2003.0,chevrolet,tahoe,2.0,8 cylinders,gas,NaN,1,...,white,30.026266,-98.133363,48209.0,Hays,48.0,TX,Texas,67.0,131233.674382
4,1195520,tampa,2006.0,lexus,gs 300,0.0,NaN,gas,NaN,1,...,NaN,27.868800,-82.734400,12103.0,Pinellas,12.0,FL,Florida,65.0,124719.282590

In [206]:
cars_prices.drop('odometer',axis=1,inplace=True)
cars_prices.dropna(inplace=True)
cars_prices.dropna(inplace=True)

from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(pd.Series(cars_prices.condition.unique()).dropna())
cars_prices.condition=le.transform(cars_prices.condition)

X=cars_prices[['year','odometer_2','title_status']]
y=cars_prices['price']

In [224]:
cars_prices.corr()

,Id,year,condition,title_status,lat,long,county_fips,state_fips,weather,price,odometer_2
Id,1.000000,0.020666,0.008262,-0.001817,-0.011524,0.134907,0.231471,0.231039,-0.026191,-0.013840,0.001866
year,0.020666,1.000000,-0.312128,0.051654,-0.005943,-0.005499,-0.001680,-0.001929,0.000075,0.350642,-0.190256
condition,0.008262,-0.312128,1.000000,-0.026697,0.014811,0.090397,0.010270,0.010710,-0.017342,-0.398486,0.169215
title_status,-0.001817,0.051654,-0.026697,1.000000,-0.009407,0.024887,0.029074,0.029027,0.002304,-0.019895,-0.030845
lat,-0.011524,-0.005943,0.014811,-0.009407,1.000000,-0.181640,0.196285,0.197962,-0.867120,0.003349,-0.002071
long,0.134907,-0.005499,0.090397,0.024887,-0.181640,1.000000,0.253670,0.253547,0.054869,-0.110978,0.021784
county_fips,0.231471,-0.001680,0.010270,0.029074,0.196285,0.253670,1.000000,0.999980,-0.148054,-0.016800,0.001667
state_fips,0.231039,-0.001929,0.010710,0.029027,0.197962,0.253547,0.999980,1.000000,-0.149567,-0.017038,0.001714
weather,-0.026191,0.000075,-0.017342,0.002304,-0.867120,0.054869,-0.148054,-0.149567,1.000000,0.000620,-0.001568
price,-0.013840,0.350642,-0.398486,-0.019895,0.003349,-0.110978,-0.016800,-0.017038,0.000620,1.000000,-0.232830
odometer_2,0.001866,-0.190256,0.169215,-0.030845,-0.002071,0.021784,0.001667,0.001714,-0.001568,-0.232830,1.000000

In [208]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train,Y_test=train_test_split(X,y,test_size=0.33,random_state=1)

In [209]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
#reg = RandomForestRegressor(max_depth=2, random_state=5,n_estimators=100)

In [210]:
reg = LinearRegression().fit(X_train, Y_train)
#reg.fit(X_train, Y_train)

In [211]:
y_pre=reg.predict(X_test)

In [212]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_pre,Y_test )

47603992.31823949

In [213]:
cars_prices.corr()

,Id,year,condition,title_status,lat,long,county_fips,state_fips,weather,price,odometer_2
Id,1.000000,0.020666,0.008262,-0.001817,-0.011524,0.134907,0.231471,0.231039,-0.026191,-0.013840,0.001866
year,0.020666,1.000000,-0.312128,0.051654,-0.005943,-0.005499,-0.001680,-0.001929,0.000075,0.350642,-0.190256
condition,0.008262,-0.312128,1.000000,-0.026697,0.014811,0.090397,0.010270,0.010710,-0.017342,-0.398486,0.169215
title_status,-0.001817,0.051654,-0.026697,1.000000,-0.009407,0.024887,0.029074,0.029027,0.002304,-0.019895,-0.030845
lat,-0.011524,-0.005943,0.014811,-0.009407,1.000000,-0.181640,0.196285,0.197962,-0.867120,0.003349,-0.002071
long,0.134907,-0.005499,0.090397,0.024887,-0.181640,1.000000,0.253670,0.253547,0.054869,-0.110978,0.021784
county_fips,0.231471,-0.001680,0.010270,0.029074,0.196285,0.253670,1.000000,0.999980,-0.148054,-0.016800,0.001667
state_fips,0.231039,-0.001929,0.010710,0.029027,0.197962,0.253547,0.999980,1.000000,-0.149567,-0.017038,0.001714
weather,-0.026191,0.000075,-0.017342,0.002304,-0.867120,0.054869,-0.148054,-0.149567,1.000000,0.000620,-0.001568
price,-0.013840,0.350642,-0.398486,-0.019895,0.003349,-0.110978,-0.016800,-0.017038,0.000620,1.000000,-0.232830
odometer_2,0.001866,-0.190256,0.169215,-0.030845,-0.002071,0.021784,0.001667,0.001714,-0.001568,-0.232830,1.000000

In [214]:
#X_submision=np.array(cars_prices_test[['year','odometer']].dropna()).reshape(-1, 1)
X_submision=cars_prices_test[['year','odometer_2','title_status']]

In [215]:
X_submision.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253073 entries, 0 to 253072
Data columns (total 3 columns):
year            252162 non-null float64
odometer_2      252849 non-null float64
title_status    253073 non-null int32
dtypes: float64(2), int32(1)
memory usage: 4.8 MB

In [219]:
ids=cars_prices_test['Id']
X_submission=cars_prices_test[['year','odometer_2','title_status']]

In [220]:
X_submission.fillna(method='ffill',inplace=True)

c:\program files (x86)\python37-32\lib\site-packages\pandas\core\frame.py:4034: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  downcast=downcast, **kwargs)

In [221]:
predict=pd.Series(reg.predict(X_submission))

submision=pd.concat([ids, predict], axis=1)

In [222]:
submision.columns=['id','price']

In [223]:
submision.to_csv(path_or_buf='../output/submision.csv',header=True,index=False)