In [106]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [142]:
cars_prices=pd.read_csv("..\data\cars_train.csv")

# Title status

In [145]:
cars_prices['title_status'].value_counts()

clean         436606
rebuilt        13310
salvage         8923
lien            5950
missing         3046
parts only      1449
Name: title_status, dtype: int64

In [146]:
def process_tilte_status(cars_prices)
    cars_prices['title_status'].replace({'clean':'good','rebuilt':'regular','lien':'bad','missing':'bad','parts only':'bad'},inplace=True)
    from sklearn import preprocessing

    le = preprocessing.LabelEncoder()
    le.fit(cars_prices['title_status'].unique())
    cars_prices['title_status']=le.transform(cars_prices['title_status'])
    return cars_prices

# Prices

In [111]:
q_25=cars_prices.price.quantile(0.25)
q_75=cars_prices.price.quantile(0.75)
cars_prices=cars_prices[(cars_prices.price>=q_25) & (cars_prices.price<=q_75) ]
cars_prices.shape

(119156, 24)

In [112]:
cars_prices.corr()

,Id,year,odometer,lat,long,county_fips,state_fips,weather,price
Id,1.000000,0.032501,-0.008170,-0.057727,0.168210,0.228917,0.228515,-0.036001,-0.015986
year,0.032501,1.000000,-0.049304,-0.018707,0.033282,0.013543,0.013398,0.019815,0.095905
odometer,-0.008170,-0.049304,1.000000,0.023445,-0.017058,-0.005265,-0.005254,-0.019729,-0.065313
lat,-0.057727,-0.018707,0.023445,1.000000,-0.179223,0.206076,0.207525,-0.859842,0.025904
long,0.168210,0.033282,-0.017058,-0.179223,1.000000,0.269331,0.269205,-0.011410,-0.033999
county_fips,0.228917,0.013543,-0.005265,0.206076,0.269331,1.000000,0.999980,-0.164663,-0.007962
state_fips,0.228515,0.013398,-0.005254,0.207525,0.269205,0.999980,1.000000,-0.165953,-0.007978
weather,-0.036001,0.019815,-0.019729,-0.859842,-0.011410,-0.164663,-0.165953,1.000000,-0.017608
price,-0.015986,0.095905,-0.065313,0.025904,-0.033999,-0.007962,-0.007978,-0.017608,1.000000

In [113]:
for column in cars_prices.columns:
    if cars_prices[column].dtype=='object':
        print(column,cars_prices[column].value_counts())

city yubasutter       903
sanantonio       693
austin           669
dallas           667
houston          662
tucson           656
vermont          654
boston           649
miami            636
sacramento       635
palmsprings      635
raleigh          634
knoxville        630
nashville        621
columbus         620
lasvegas         619
newjersey        617
atlanta          616
omaha            615
orangecounty     612
orlando          612
fortmyers        611
providence       606
norfolk          606
pittsburgh       602
tampa            601
modesto          600
newyork          600
inlandempire     592
maine            592
                ...
monterrey          9
susanville         8
ftmcmurray         8
skeena             8
natchez            8
hermosillo         8
saskatoon          8
juneau             8
reddeer            7
regina             7
newbrunswick       6
niagara            6
guelph             6
thunderbay         6
kitchener          5
soo                5
cornwall           5
chihuahua          5
halifax            5
barrie             4
brantford          4
hat                4
sudbury            4
juarez             4
sherbrooke         3
lethbridge         3
troisrivieres      2
owensound          2
chatham            2
newfoundland       1
Name: city, Length: 465, dtype: int64
manufacturer ford               18958
chevrolet          14720
toyota              9036
nissan              6915
honda               6795
dodge               5400
jeep                4897
gmc                 4424
bmw                 3874
chevy               2847
volkswagen          2802
hyundai             2737
subaru              2413
ram                 2249
chrysler            2146
lexus               1941
kia                 1931
mazda               1838
cadillac            1667
mercedes-benz       1608
acura               1414
buick               1333
audi                1109
infiniti            1097
pontiac             1072
lincoln              908
mini                 776
volvo                759
mitsubishi           677
mercedes             578
mercury              544
saturn               419
vw                   369
rover                330
jaguar               315
fiat                 282
datsun                50
chev                  45
infinity              41
harley-davidson       39
harley                27
alfa-romeo            17
land rover            11
porche                10
alfa                   6
ferrari                4
landrover              2
Name: manufacturer, dtype: int64
make 1500                         1208
f-150                        1077
mustang                       908
accord                        880
silverado                     816
altima                        778
civic                         765
wrangler                      753
camry                         737
silverado 1500                732
focus                         716
f250                          708
escape                        708
1500 silverado                691
cruze                         687
f150                          682
fusion                        665
impala                        627
2500                          621
malibu                        616
tahoe                         591
prius                         566
corvette                      557
equinox                       553
corolla                       550
jetta                         526
f350                          515
sonata                        504
tacoma                        502
sentra                        468
                             ...
transam convertible             1
1984 elderado                   1
corvette zo7                    1
long bed truck                  1
altima se-r                     1
2011 MAZDA3 GX                  1
sierra sle 2500                 1
GMC/Thomas Minotour             1
expedtion                       1
electra beautiful park          1
xj-r                            1
Oldsmobile omega                1
Buick, Roadster                 1
f250 xlt 4x4 1/2 ton gas        1
murano 3.5sl                    1
ranger reg. cab                 1
1500 tahoe ltz                  1
sq5                             1
serria                          1
super duty f-250 crew cab       1
commander 4x4 v8                1
International SCOUT II          1
Ran hemi                        1
chysler/pt cruiser              1
f-150 xlt 4-door                1
wrangler x 4wd                  1
f250 supercab 4x4               1
f 150 supercab                  1
77 cj7                          1
cbr                             1
Name: make, Length: 15034, dtype: int64
condition excellent    38635
good         27415
like new      7338
fair          1824
new            332
salvage        110
Name: condition, dtype: int64
cylinders 6 cylinders     25677
4 cylinders     24668
8 cylinders     22452
other            2251
5 cylinders      1108
10 cylinders      399
3 cylinders       167
12 cylinders       65
Name: cylinders, dtype: int64
fuel gas         108777
diesel        5842
other         2787
hybrid        1102
electric       137
Name: fuel, dtype: int64
title_status clean         109763
rebuilt         4942
salvage         2694
lien            1182
missing          311
parts only        43
Name: title_status, dtype: int64
transmission automatic    103316
manual        14154
other          1093
Name: transmission, dtype: int64
drive fwd    29749
4wd    27840
rwd    18027
Name: drive, dtype: int64
size full-size      22964
mid-size       13280
compact         7272
sub-compact     1075
Name: size, dtype: int64
type sedan          22101
SUV            17978
truck           7944
pickup          6549
coupe           4673
hatchback       3469
convertible     2638
wagon           2109
mini-van        1765
van             1719
other           1098
offroad          400
bus              174
Name: type, dtype: int64
paint_color white     14411
black     13834
silver    11687
blue       8949
red        8213
grey       7925
green      2826
custom     1858
brown      1729
yellow      788
orange      455
purple      231
Name: paint_color, dtype: int64
county_name Jefferson         1400
Orange            1215
Sacramento        1142
Montgomery        1063
Washington        1044
Marion            1032
Jackson           1003
Riverside          959
Saginaw            939
Franklin           875
Los Angeles        867
Clark              849
Lancaster          839
El Paso            810
Douglas            763
Monroe             729
Kent               695
Maricopa           694
Sutter             693
Wayne              680
Middlesex          650
Bexar              634
Madison            621
Harris             620
Cumberland         607
San Diego          596
Pima               592
Polk               587
Wake               580
Benton             569
                  ...
Latimer              1
Zapata               1
Crowley              1
Palo Pinto           1
Hood                 1
Baca                 1
Bleckley             1
Donley               1
Live Oak             1
Shannon              1
Stutsman             1
Blanco               1
Alger                1
Cottle               1
Wilcox               1
Conejos              1
Hyde                 1
Greensville          1
Valdez-Cordova       1
Schoolcraft          1
Lumpkin              1
Cloud                1
Tillman              1
Yoakum               1
Lander               1
Pleasants            1
Metcalfe             1
Terrell              1
Wade Hampton         1
Billings             1
Name: county_name, Length: 1638, dtype: int64
state_code CA    11269
FL     7841
TX     6719
MI     6087
NY     5269
NC     4570
OH     4435
PA     4132
VA     3728
WI     3656
TN     3049
OR     2953
MA     2650
CO     2648
MO     2552
WA     2431
IL     2362
NJ     2287
MN     2277
IA     2270
GA     2261
IN     2223
SC     2155
AZ     2005
AL     1954
CT     1646
KY     1605
LA     1445
NE     1310
OK     1309
MD     1299
KS     1295
AR     1249
ID     1239
MT     1232
MS     1211
NM     1016
NV      951
NH      692
AK      649
SD      627
VT      617
RI      515
DE      488
ME      481
UT      432
WV      379
ND      293
WY      194
DC       20
HI        1
Name: state_code, dtype: int64
state_name California              11269
Florida                  7841
Texas                    6719
Michigan                 6087
New York                 5269
North Carolina           4570
Ohio                     4435
Pennsylvania             4132
Virginia                 3728
Wisconsin                3656
FAILED                   3178
Tennessee                3049
Oregon                   2953
Massachusetts            2650
Colorado                 2648
Missouri                 2552
Washington               2431
Illinois                 2362
New Jersey               2287
Minnesota                2277
Iowa                     2270
Georgia                  2261
Indiana                  2223
South Carolina           2155
Arizona                  2005
Alabama                  1954
Connecticut              1646
Kentucky                 1605
Louisiana                1445
Nebraska                 1310
Oklahoma                 1309
Maryland                 1299
Kansas                   1295
Arkansas                 1249
Idaho                    1239
Montana                  1232
Mississippi              1211
New Mexico               1016
Nevada                    951
New Hampshire             692
Alaska                    649
South Dakota              627
Vermont                   617
Rhode Island              515
Delaware                  488
Maine                     481
Utah                      432
West Virginia             379
North Dakota              293
Wyoming                   194
District of Columbia       20
Hawaii                      1
Name: state_name, dtype: int64

In [114]:
cars_prices_clean=cars_prices.drop('city',axis=1)

# Manufacturer

In [115]:
cars_country=pd.read_csv("..\data\cars_manufacturers.csv")
cars_prices=pd.merge(cars_prices, cars_country, on='manufacturer', how='left')

In [116]:
cars_prices.head(5)

,Id,city,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,...,lat,long,county_fips,county_name,state_fips,state_code,state_name,weather,price,country
0,203486,rochester,2001.0,chevrolet,silverado 1500,NaN,NaN,gas,96000.0,clean,...,43.169800,-77.600700,36055.0,Monroe,36.0,NY,New York,53.0,5500,united states
1,59980,northplatte,1975.0,ford,f-250,good,8 cylinders,gas,80000.0,clean,...,39.620600,-105.090100,8059.0,Jefferson,8.0,CO,Colorado,45.0,5500,united states
2,473356,akroncanton,2008.0,volvo,s80,excellent,6 cylinders,gas,143251.0,clean,...,41.102240,-81.481860,39153.0,Summit,39.0,OH,Ohio,49.0,5372,sweden
3,941967,newyork,2007.0,honda,pilot ex,excellent,6 cylinders,gas,169000.0,clean,...,41.216000,-73.130400,9001.0,Fairfield,9.0,CT,Connecticut,51.0,5399,japan
4,1451731,jerseyshore,2006.0,chevrolet,silverado 1500,excellent,8 cylinders,gas,206629.0,clean,...,40.048903,-74.141727,34029.0,Ocean,34.0,NJ,New Jersey,52.0,5995,united states

In [117]:
pd.get_dummies(cars_prices, prefix=['country'], columns=['country'])

,Id,city,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,...,state_name,weather,price,country_germany,country_italy,country_japan,country_south korea,country_sweden,country_united kingdom,country_united states
0,203486,rochester,2001.0,chevrolet,silverado 1500,NaN,NaN,gas,96000.0,clean,...,New York,53.0,5500,0,0,0,0,0,0,1
1,59980,northplatte,1975.0,ford,f-250,good,8 cylinders,gas,80000.0,clean,...,Colorado,45.0,5500,0,0,0,0,0,0,1
2,473356,akroncanton,2008.0,volvo,s80,excellent,6 cylinders,gas,143251.0,clean,...,Ohio,49.0,5372,0,0,0,0,1,0,0
3,941967,newyork,2007.0,honda,pilot ex,excellent,6 cylinders,gas,169000.0,clean,...,Connecticut,51.0,5399,0,0,1,0,0,0,0
4,1451731,jerseyshore,2006.0,chevrolet,silverado 1500,excellent,8 cylinders,gas,206629.0,clean,...,New Jersey,52.0,5995,0,0,0,0,0,0,1
5,228988,lafayette,2009.0,NaN,porsche cayenne turbo,NaN,8 cylinders,gas,NaN,clean,...,Louisiana,67.0,8500,0,0,0,0,0,0,0
6,632379,sfbay,1990.0,jeep,wrangler,good,4 cylinders,gas,182000.0,clean,...,California,59.0,7500,0,0,0,0,0,0,1
7,1612351,watertown,2008.0,pontiac,g6,excellent,4 cylinders,gas,86272.0,clean,...,New York,53.0,5788,0,0,0,0,0,0,1
8,1200759,missoula,2000.0,chevrolet,c/k 2500,NaN,8 cylinders,gas,225124.0,clean,...,Montana,40.0,7990,0,0,0,0,0,0,1
9,1054939,joplin,2013.0,hyundai,elantra coupe,good,4 cylinders,gas,NaN,clean,...,Missouri,52.0,5495,0,0,0,1,0,0,0
10,1705021,greensboro,2007.0,honda,cr-v,good,4 cylinders,gas,112070.0,clean,...,North Carolina,56.0,8500,0,0,1,0,0,0,0
11,1554097,cedarrapids,1998.0,chevrolet,c/k 3500,good,8 cylinders,gas,63000.0,clean,...,Iowa,47.0,5995,0,0,0,0,0,0,1
12,1329140,lincoln,2009.0,chevrolet,express 3500,excellent,NaN,gas,NaN,clean,...,Nebraska,46.0,7900,0,0,0,0,0,0,1
13,848677,cosprings,2008.0,mazda,cx-9,NaN,6 cylinders,gas,138026.0,clean,...,Colorado,45.0,8599,0,0,1,0,0,0,0
14,993651,charleston,2013.0,NaN,FRS,NaN,NaN,gas,75000.0,clean,...,South Carolina,60.0,7500,0,0,0,0,0,0,0
15,58921,miami,2010.0,toyota,prius,excellent,4 cylinders,gas,60000.0,clean,...,Florida,65.0,7800,0,0,1,0,0,0,0
16,387098,jxn,2009.0,cadillac,cts,NaN,NaN,gas,142701.0,clean,...,Michigan,45.0,6495,0,0,0,0,0,0,1
17,1248485,brownsville,2012.0,dodge,avenger,like new,4 cylinders,gas,58000.0,clean,...,Texas,67.0,6000,0,0,0,0,0,0,1
18,715272,losangeles,2007.0,nissan,titan,NaN,NaN,gas,105222.0,clean,...,California,59.0,5500,0,0,1,0,0,0,0
19,1171984,tampa,2014.0,dodge,charger 5.7 l,like new,8 cylinders,gas,NaN,clean,...,Florida,65.0,8795,0,0,0,0,0,0,1
20,150081,montgomery,2004.0,dodge,1500,excellent,NaN,gas,NaN,clean,...,Alabama,61.0,5500,0,0,0,0,0,0,1
21,957385,nwct,2011.0,nissan,sentra sr,good,4 cylinders,gas,NaN,clean,...,Connecticut,51.0,4999,0,0,1,0,0,0,0
22,853782,fortcollins,2005.0,ford,expedition,NaN,NaN,gas,161969.0,clean,...,Colorado,45.0,5995,0,0,0,0,0,0,1
23,576171,bend,2006.0,bmw,x3,excellent,NaN,gas,119000.0,clean,...,Oregon,50.0,7995,1,0,0,0,0,0,0
24,621104,sandiego,1997.0,toyota,4runner 4x4 limited 4dr l,NaN,NaN,gas,181000.0,clean,...,California,59.0,7999,0,0,1,0,0,0,0
25,835206,cosprings,2006.0,ford,f-250 super duty,NaN,8 cylinders,diesel,NaN,clean,...,Colorado,45.0,9450,0,0,0,0,0,0,1
26,755508,boston,2003.0,NaN,f350 powerstroke,good,8 cylinders,diesel,NaN,clean,...,Massachusetts,50.0,5000,0,0,0,0,0,0,0
27,1288292,austin,2006.0,bmw,m6,NaN,NaN,gas,NaN,clean,...,Texas,67.0,7999,1,0,0,0,0,0,0
28,227942,batonrouge,2007.0,chevrolet,avalanche 1500 4dr 4wd,excellent,NaN,gas,NaN,clean,...,Louisiana,67.0,7900,0,0,0,0,0,0,1
29,619367,yubasutter,2006.0,toyota,sequoia sr5,NaN,8 cylinders,gas,187446.0,clean,...,California,59.0,9999,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119126,226827,shreveport,2012.0,mazda,mazdaspeed3 touring,excellent,4 cylinders,gas,125000.0,clean,...,Louisiana,67.0,7995,0,0,1,0,0,0,0
119127,671495,sacramento,1991.0,jeep,wrangler,good,6 cylinders,gas,NaN,clean,...,California,59.0,9600,0,0,0,0,0,0,1
119128,48966,newjersey,2012.0,toyota,prius,excellent,NaN,hybrid,NaN,rebuilt,...,Pennsylvania,53.0,8500,0,0,1,0,0,0,0
119129,863214,santafe,2002.0,toyota,mr2 spyder,excellent,4 cylinders,gas,107.0,clean,...,Colorado,45.0,8900,0,0,1,0,0,0,0
119130,1691876,fayetteville,1992.0,chevrolet,NaN,excellent,8 cylinders,gas,198000.0,clean,...,North Carolina,56.0,7500,0,0,0,0,0,0,1
119131,909137,grandrapids,2018.0,NaN,Argo Xplorer,new,other,gas,0.0,clean,...,Michigan,45.0,5999,0,0,0,0,0,0,0
119132,1578629,albany,1999.0,ford,f-250 super duty,NaN,NaN,diesel,NaN,clean,...,New York,53.0,7200,0,0,0,0,0,0,1
119133,1186813,ocala,2007.0,honda,civic,excellent,4 cylinders,gas,120000.0,clean,...,Florida,65.0,6500,0,0,1,0,0,0,0
119134,1378140,nh,2005.0,chevrolet,tahoe,excellent,8 cylinders,gas,154000.0,clean,...,New Hampshire,43.0,5800,0,0,0,0,0,0,1
119135,1558550,desmoines,1967.0,chevrolet,camaro,NaN,NaN,other,NaN,missing,...,Iowa,47.0,7500,0,0,0,0,0,0,1
119136,663052,santamaria,2004.0,ford,f-150,excellent,8 cylinders,gas,130000.0,clean,...,California,59.0,8000,0,0,0,0,0,0,1
119137,209844,batonrouge,2015.0,toyota,NaN,like new,NaN,gas,NaN,clean,...,Louisiana,67.0,7200,0,0,1,0,0,0,0
119138,437652,monroemi,2000.0,chevrolet,malibu,NaN,NaN,gas,186056.0,clean,...,Ohio,49.0,4995,0,0,0,0,0,0,1
119139,1039391,springfield,1989.0,ford,mustang,NaN,NaN,gas,NaN,clean,...,Missouri,52.0,5900,0,0,0,0,0,0,1
119140,928455,annarbor,2013.0,subaru,impreza 2.0i premium,excellent,NaN,gas,92000.0,clean,...,Michigan,45.0,9500,0,0,1,0,0,0,0
119141,681992,orangecounty,1979.0,NaN,MG MGB,like new,4 cylinders,gas,NaN,clean,...,California,59.0,7900,0,0,0,0,0,0,0
119142,1702067,charlotte,2006.0,acura,mdx,good,6 cylinders,gas,NaN,salvage,...,North Carolina,56.0,5000,0,0,1,0,0,0,0
119143,1556057,waterloo,2008.0,gmc,acadia,excellent,6 cylinders,gas,114100.0,clean,...,Iowa,47.0,9495,0,0,0,0,0,0,0
119144,316066,peterborough,2010.0,chevrolet,aveo,like new,4 cylinders,gas,161308.0,clean,...,FAILED,NaN,4999,0,0,0,0,0,0,1
119145,1382275,harrisonburg,2011.0,volkswagen,tiguan,excellent,4 cylinders,gas,121999.0,clean,...,Virginia,55.0,7000,1,0,0,0,0,0,0
119146,945416,newhaven,2011.0,NaN,focus,NaN,NaN,gas,NaN,clean,...,Connecticut,51.0,5000,0,0,0,0,0,0,0
119147,448932,dayton,1991.0,cadillac,allante,excellent,8 cylinders,gas,160000.0,clean,...,Ohio,49.0,6900,0,0,0,0,0,0,1
119148,686662,reno,2005.0,jeep,grand cherokee limited,excellent,8 cylinders,gas,180100.0,clean,...,California,59.0,5500,0,0,0,0,0,0,1
119149,87925,eastky,2007.0,chevrolet,avalanche,NaN,NaN,gas,NaN,clean,...,Kansas,51.0,9500,0,0,0,0,0,0,1
119150,103714,milwaukee,2001.0,ford,f350 dually,good,8 cylinders,diesel,179000.0,clean,...,Wisconsin,45.0,8500,0,0,0,0,0,0,1
119151,624891,modesto,NaN,dodge,dart,NaN,NaN,gas,NaN,clean,...,California,59.0,8499,0,0,0,0,0,0,1
119152,1035631,columbiamo,2001.0,lexus,NaN,excellent,NaN,gas,NaN,clean,...,Missouri,52.0,5000,0,0,1,0,0,0,0
119153,418846,anchorage,2004.0,gmc,2500,NaN,NaN,gas,159000.0,clean,...,Alaska,29.0,8500,0,0,0,0,0,0,0
119154,389299,lasvegas,2010.0,toyota,prius,new,4 cylinders,hybrid,127175.0,clean,...,Nevada,46.0,6500,0,0,1,0,0,0,0
119155,724483,mendocino,2006.0,toyota,matrix,excellent,4 cylinders,gas,94492.0,clean,...,California,59.0,6995,0,0,1,0,0,0,0

In [118]:
cars_prices.groupby(by='country').mean()

,Id,year,odometer,lat,long,county_fips,state_fips,weather,price
country,,,,,,,,,
germany,872826.353940,2006.207323,109649.308556,38.233119,-93.502865,27379.503227,27.292949,54.747205,7360.432620
italy,829140.325175,2010.954545,56131.288991,37.454876,-97.457119,27071.858268,26.976378,56.452756,7708.821678
japan,870816.108977,2007.618889,125893.850122,38.290240,-93.149306,27582.645340,27.496550,54.621682,7251.916485
south korea,892414.694944,2011.512578,95879.617686,38.351029,-92.648448,29218.130797,29.124493,54.635750,7525.468937
sweden,882335.335968,2006.626649,149078.283154,39.066094,-89.664951,29578.547170,29.495957,53.452830,6942.118577
united kingdom,867436.641760,2005.595789,101275.152318,37.904255,-94.997334,27354.951694,27.263879,54.726748,7238.002095
united states,876065.009979,2003.297380,130748.895055,38.776987,-92.365122,28846.535705,28.756020,53.341980,7308.781249

# ODOMETER

In [119]:
df_odo=cars_prices.dropna()
X=df_odo[['year']]
y=df_odo['odometer']
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train,Y_test=train_test_split(X,y,test_size=0.33,random_state=1)

In [120]:
from sklearn.linear_model import LinearRegression

In [121]:
reg = LinearRegression().fit(X_train, Y_train)

In [122]:
y_real=reg.predict(X_test)

In [123]:
y_real=y_real.reshape(-1,1)

In [124]:
reg.score(X_test,Y_test)

0.003940858297465932

In [125]:
test_X = np.array(2006).reshape(-1, 1)
reg.predict(test_X)

array([128066.74519997])

In [126]:
odometer=[]
for row in cars_prices[['odometer','year']].values:
    test_X = np.array(row[1]).reshape(-1, 1)
    
    if np.isnan(row[0]) and np.isnan(row[1])==False :
        predict=reg.predict(test_X)[0]
    else:
        predict=row[0].astype(np.float)
    odometer.append(predict)
cars_prices['odometer_2']=odometer

In [127]:
cars_prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119156 entries, 0 to 119155
Data columns (total 26 columns):
Id              119156 non-null int64
city            119156 non-null object
year            118807 non-null float64
manufacturer    111432 non-null object
make            114965 non-null object
condition       75654 non-null object
cylinders       76787 non-null object
fuel            118645 non-null object
odometer        83732 non-null float64
title_status    118935 non-null object
transmission    118563 non-null object
drive           75616 non-null object
size            44591 non-null object
type            72617 non-null object
paint_color     72906 non-null object
lat             119156 non-null float64
long            119156 non-null float64
county_fips     115978 non-null float64
county_name     115978 non-null object
state_fips      115978 non-null float64
state_code      115978 non-null object
state_name      119156 non-null object
weather         115958 non-null float64
price           119156 non-null int64
country         101947 non-null object
odometer_2      119063 non-null float64
dtypes: float64(8), int64(2), object(16)
memory usage: 17.3+ MB

# Condition

In [128]:
from sklearn import preprocessing
df_odo=cars_prices.dropna()

le = preprocessing.LabelEncoder()
le.fit(df_odo.condition.unique())
df_odo.condition=le.transform(df_odo.condition)

c:\program files (x86)\python37-32\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [129]:


X=df_odo[['year','odometer_2']]
y=df_odo['condition']

from sklearn.model_selection import train_test_split

X_train, X_test, Y_train,Y_test=train_test_split(X,y,test_size=0.33,random_state=1)
from sklearn.linear_model import LinearRegression
reg = LinearRegression().fit(X_train, Y_train)

In [130]:
y_real=reg.predict(X_test)
y_real=y_real.reshape(-1,1)
reg.score(X_test,Y_test)

0.004177577648631248

In [136]:
from sklearn import preprocessing
cars_prices.condition.fillna('desconocido',inplace=True)
le = preprocessing.LabelEncoder()
le.fit(cars_prices.condition.unique())
cars_prices.condition=le.transform(cars_prices.condition)

In [133]:

condition=[]
for row in cars_prices[['condition','year','odometer_2']].values:
    test_X = np.array(row[1:]).reshape(-1,1)
    try:
        predict=reg.predict(test_X)[0]
    except:
        predict=row[0]
    condition.append(predict)

In [134]:

cars_prices['condition']=condition

In [135]:
cars_prices[['manufacturer','type','condition','year','odometer_2','odometer','price']]

,manufacturer,type,condition,year,odometer_2,odometer,price
0,chevrolet,NaN,0.0,2001.0,96000.000000,96000.0,5500
1,ford,truck,3.0,1975.0,80000.000000,80000.0,5500
2,volvo,sedan,1.0,2008.0,143251.000000,143251.0,5372
3,honda,SUV,1.0,2007.0,169000.000000,169000.0,5399
4,chevrolet,pickup,1.0,2006.0,206629.000000,206629.0,5995
5,NaN,NaN,0.0,2009.0,126462.827404,NaN,8500
6,jeep,offroad,3.0,1990.0,182000.000000,182000.0,7500
7,pontiac,sedan,1.0,2008.0,86272.000000,86272.0,5788
8,chevrolet,truck,0.0,2000.0,225124.000000,225124.0,7990
9,hyundai,NaN,3.0,2013.0,124324.270342,NaN,5495
10,honda,SUV,3.0,2007.0,112070.000000,112070.0,8500
11,chevrolet,truck,3.0,1998.0,63000.000000,63000.0,5995
12,chevrolet,other,1.0,2009.0,126462.827404,NaN,7900
13,mazda,SUV,0.0,2008.0,138026.000000,138026.0,8599
14,NaN,coupe,0.0,2013.0,75000.000000,75000.0,7500
15,toyota,hatchback,1.0,2010.0,60000.000000,60000.0,7800
16,cadillac,NaN,0.0,2009.0,142701.000000,142701.0,6495
17,dodge,sedan,4.0,2012.0,58000.000000,58000.0,6000
18,nissan,NaN,0.0,2007.0,105222.000000,105222.0,5500
19,dodge,sedan,4.0,2014.0,123789.631076,NaN,8795
20,dodge,NaN,1.0,2004.0,129136.023731,NaN,5500
21,nissan,sedan,3.0,2011.0,125393.548873,NaN,4999
22,ford,NaN,0.0,2005.0,161969.000000,161969.0,5995
23,bmw,SUV,1.0,2006.0,119000.000000,119000.0,7995
24,toyota,SUV,0.0,1997.0,181000.000000,181000.0,7999
25,ford,truck,0.0,2006.0,128066.745200,NaN,9450
26,NaN,truck,3.0,2003.0,129670.662996,NaN,5000
27,bmw,NaN,0.0,2006.0,128066.745200,NaN,7999
28,chevrolet,NaN,1.0,2007.0,127532.105935,NaN,7900
29,toyota,SUV,0.0,2006.0,187446.000000,187446.0,9999
...,...,...,...,...,...,...,...
119126,mazda,hatchback,1.0,2012.0,125000.000000,125000.0,7995
119127,jeep,SUV,3.0,1991.0,136086.334182,NaN,9600
119128,toyota,NaN,1.0,2012.0,124858.909607,NaN,8500
119129,toyota,convertible,1.0,2002.0,107.000000,107.0,8900
119130,chevrolet,truck,1.0,1992.0,198000.000000,198000.0,7500
119131,NaN,other,5.0,2018.0,0.000000,0.0,5999
119132,ford,NaN,0.0,1999.0,131809.220058,NaN,7200
119133,honda,sedan,1.0,2007.0,120000.000000,120000.0,6500
119134,chevrolet,SUV,1.0,2005.0,154000.000000,154000.0,5800
119135,chevrolet,NaN,0.0,1967.0,148917.676553,NaN,7500
119136,ford,truck,1.0,2004.0,130000.000000,130000.0,8000
119137,toyota,NaN,4.0,2015.0,123254.991811,NaN,7200
119138,chevrolet,sedan,0.0,2000.0,186056.000000,186056.0,4995
119139,ford,NaN,0.0,1989.0,137155.612713,NaN,5900
119140,subaru,hatchback,1.0,2013.0,92000.000000,92000.0,9500
119141,NaN,convertible,4.0,1979.0,142502.005367,NaN,7900
119142,acura,NaN,3.0,2006.0,128066.745200,NaN,5000
119143,gmc,SUV,1.0,2008.0,114100.000000,114100.0,9495
119144,chevrolet,sedan,4.0,2010.0,161308.000000,161308.0,4999
119145,volkswagen,hatchback,1.0,2011.0,121999.000000,121999.0,7000
119146,NaN,NaN,0.0,2011.0,125393.548873,NaN,5000
119147,cadillac,convertible,1.0,1991.0,160000.000000,160000.0,6900
119148,jeep,SUV,1.0,2005.0,180100.000000,180100.0,5500
119149,chevrolet,NaN,0.0,2007.0,127532.105935,NaN,9500
119150,ford,pickup,3.0,2001.0,179000.000000,179000.0,8500
119151,dodge,NaN,0.0,NaN,NaN,NaN,8499
119152,lexus,NaN,1.0,2001.0,130739.941527,NaN,5000
119153,gmc,truck,0.0,2004.0,159000.000000,159000.0,8500
119154,toyota,hatchback,5.0,2010.0,127175.000000,127175.0,6500
119155,toyota,NaN,1.0,2006.0,94492.000000,94492.0,6995

In [138]:
cars_prices.head()

,Id,city,year,manufacturer,make,condition,cylinders,fuel,odometer,title_status,...,long,county_fips,county_name,state_fips,state_code,state_name,weather,price,country,odometer_2
0,203486,rochester,2001.0,chevrolet,silverado 1500,0,NaN,gas,96000.0,clean,...,-77.600700,36055.0,Monroe,36.0,NY,New York,53.0,5500,united states,96000.0
1,59980,northplatte,1975.0,ford,f-250,3,8 cylinders,gas,80000.0,clean,...,-105.090100,8059.0,Jefferson,8.0,CO,Colorado,45.0,5500,united states,80000.0
2,473356,akroncanton,2008.0,volvo,s80,1,6 cylinders,gas,143251.0,clean,...,-81.481860,39153.0,Summit,39.0,OH,Ohio,49.0,5372,sweden,143251.0
3,941967,newyork,2007.0,honda,pilot ex,1,6 cylinders,gas,169000.0,clean,...,-73.130400,9001.0,Fairfield,9.0,CT,Connecticut,51.0,5399,japan,169000.0
4,1451731,jerseyshore,2006.0,chevrolet,silverado 1500,1,8 cylinders,gas,206629.0,clean,...,-74.141727,34029.0,Ocean,34.0,NJ,New Jersey,52.0,5995,united states,206629.0

In [211]:
df2=pd.get_dummies(cars_prices, prefix=['condition'], columns=['condition'])

In [ ]:
df2.corr()

# Test prices submision

In [3]:
cars_prices_test=pd.read_csv("..\data\cars_test.csv")

In [15]:
cars_prices_test[cars_prices_test.condition.isna()]['year'].value_counts()

2015.0    6598
2007.0    6230
2008.0    5854
2006.0    5570
2012.0    5168
2013.0    5108
2014.0    5087
2011.0    5017
2005.0    4885
2016.0    4827
2004.0    4457
2010.0    4429
2017.0    4389
2003.0    3710
2009.0    3700
2002.0    3131
2001.0    2542
2000.0    2276
2018.0    2039
1999.0    1912
1998.0    1397
1997.0    1228
1995.0     930
1996.0     921
1994.0     659
1993.0     561
1992.0     440
1991.0     432
1989.0     403
1990.0     385
          ...
1936.0      36
1934.0      32
1932.0      29
1927.0      28
1939.0      26
1946.0      25
1900.0      19
1923.0      17
1938.0      17
1928.0      16
1933.0      16
1926.0      14
1935.0      13
1942.0      11
1925.0       7
1924.0       6
1901.0       5
1921.0       5
1922.0       4
1918.0       3
1945.0       3
1943.0       2
1917.0       2
1916.0       2
1944.0       2
1740.0       1
1920.0       1
1915.0       1
1553.0       1
302.0        1
Name: year, Length: 109, dtype: int64